.bg-pink{
  background-color:#E83E8C;
}
.logo-navbar{
  width: 55%;
}
.navbar-brand{
  width: 50%;
}
footer img{
  height: 100px;
}
.icons-section{
  background-color: #17A2B8;
}
h2{
  font-size: 40px;
  padding-left: 180px;
}
